{% extends 'base.html.twig' %}
{% block body %}
  <div class="form-box">
    <h1 class="text-center mb-5" >Köszönjük szépen a kérdésedet.</h1>
    <p>Válaszunkkal hamarosan keresünk a megadott e-mail címen.</p>
  </div>
{% endblock %}
