{% extends 'base.html.twig' %}
{% block body %}
  <div class="container">
    <h2>Köszönjük szépen a kérdésedet.</h2>
    <h4>Válaszunkkal hamarosan keresünk a megadott e-mail címen.</h4>
  </div>
{% endblock %}
