{% extends 'base.html.twig' %}
{% block body %}
  <div class="container">
    <h1>Get in Touch</h1>
    {{ form_start(contactForm) }}
      {{ form_widget(contactForm) }}
      <button type="submit" class="btn btn-primary">Küldés</button>
    {{ form_end(contactForm) }}
  </div>
{% endblock %}
